<div class="search-input-wrapper">
  <form ng-submit="search({ qtext: qtext })" role="search">
    <button class="ss-search-submit search-button btn btn-primary btn-lg" type="button" ng-click="search({ qtext: qtext })">
      <span class="glyphicon glyphicon-search"></span><span class="visible-md-inline visible-lg-inline">Search</span>
    </button>
    <div class="search-clear" ng-show="qtext">
      <span class="glyphicon glyphicon-remove" ng-click="clear()"></span>
    </div>
    <input class="search-input form-control input-lg" ng-model="qtext" type="search" placeholder="Search..." autocomplete="off" typeahead="suggestion for suggestion in suggest({ val: $viewValue })" typeahead-loading="loadingSuggestions">
  </form>
</div>
