<section class="ss-search-bar">
  <ss-search-bar></ss-search-bar>
</section>

<div class="ss-explore container-fluid">

  <div class="row">

    <section class="ss-results">
      <div class="col-md-3">
        <div>
          <ml-facets facets="model.search.facets" toggle="toggleFacet(facet, value)"></ml-facets>
        </div>
      </div>
      <div class="col-md-9">
      <h3 ng-if="model.search.total === 0">No results to show</h3>
  
      <div ng-if="model.search.total > 0" class="results">
  
        <pagination ng-model="model.page" ng-change="search()" max-size="10" boundary-links="true"
                    total-items="model.search.total" items-per-page="model.search['page-length']"></pagination>
  
        <ml-metrics search="model.search"></ml-metrics>
        <ml-results results="model.search.results" template="/app/directives/ssSearchResults.html"></ml-results>
      </div>
      </div>
    </section>
  </div> <!-- row -->

</div> <!-- ss-explore -->
