<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Add Chart Widget</h4>
  </div>
  <div class="modal-body">
    <form name="form">
      <div class="form-group">
        <label class="control-label">Index(es)</label>
        <div ng-repeat="facet in highChart.facets track by $index">
          <select class="form-control" name="index" ng-model="highChart.facets[$index]" ng-options="key as key for (key, val) in facets">
          </select><a ng-show="highChart.facets.length > 1" ng-click="highChart.facets.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <a ng-show="highChart.facets.length < 3" ng-click="highChart.facets.push('')"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
      <div class="form-group">
        <label class="control-label">Result Limit</label>
        <input class="form-control" ng-model="highChart.facetLimit" type="number" />
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control" name="chartType" ng-model="highChart.options.chart.type" ng-options="chartType for chartType in chartTypes">
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Title</label>
        <input class="form-control" name="collation" type="text" ng-model="highChart.title.text">
      </div>
      <div class="clearfix">
        <highchart id="chartPreview" config="previewHighChart"></highchart>
      </div>
      <div class="clearfix">
        <button type="button" class="btn btn-primary pull-right" ng-click="add()">Add</button>
      </div>
    </form>
  </div>
</div>